@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Unica+One');

/*
font-family: 'Unica One', cursive;
font-family: 'Karla', sans-serif;
*/

/* Universal Styles */
html {
  font-size: 16px;
  font-family: 'Karla', sans-serif;

}

:root {
  --color-1: #41F8FF;
  --color-2: #3BE8BE;
  --color-3: #4EFFA2;
  --color-4: #38E85D;
  --color-5: #57FF41;
  --color-6: #33cca6;
  --color-7: #f2f2f2;
}

.container {
  max-width: 960px;
  margin: auto;
}

.light {
  background-color: var(--color-7);
}

.dark {
  background-color: var(--color-6);
}

.dark .container {
  background-color: var(--color-2);
}

.light .container {
  background-color: white;
}

.section .container {
  padding: 2rem 1.5rem;
}

.left {
  width: 60%;
  padding-right: 1.5rem;
}

.right {
  width: 40%;
  padding-left: 1.5rem;
}

.box img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.box p {
  margin-bottom: 0.5rem;
}

.box a {
  text-decoration: none;
}

.box:hover {
  background-color: var(--color-1);
}

button:focus {outline:0;}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Header */
header {
  position: fixed;
  top: 0px;
  height: 4rem;
  background-color: white;
  width: 100%;
  box-shadow: 0px 1px 40px rgba(0,0,0, 0.4);
  transition: 400ms ease;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .mobile {
  display: none;
}

header .desktop li {
  display: inline-block;
  margin-left: 1rem;
}

header .desktop li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

header .desktop {
  margin-right: 1.5rem;
}

#logo {
  font-family: 'Unica One',cursive;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

#logo span:last-of-type {
  color: var(--color-2);
}

/* Banner */
.banner .container {
  display: flex;
}

.banner {
  margin-top: 4rem;
}

.banner .left img {
  width: 100%;
  height: auto;
}

.banner .left {
  align-self: flex-start;
}

.banner .right {
  align-self: center;
}

.banner p {
  margin-bottom: 1rem;
}


.banner button {
  background-color: white;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 0px rgba(0,0,0,0.2);

}

.banner button:hover {
  cursor: pointer;
  background-color: var(--color-3);
}

.banner button:active {
  transform: translateY(5px);
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

}


/* Information */
.information .container {
  display: flex;
}

.information .left img {
  width: 100%;
}

.information .left h2 {
  margin-top: 2rem;
}

.information .left p {
  margin-bottom: 1.5rem;
}

.information .left .author {
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

.box {
  display: flex;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--color-2);
}



/* Courses */

.courses h2 {
  text-align: center;
}

.coursegrid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
}

.coursegrid div {
  max-width: 29%;
  margin: 1rem;
  background-color: white;
}

.coursegrid img {
  width: 100%;
}

.coursegrid h3 {
  margin-left: 1rem;
  margin-top: 1rem;
}

.coursegrid p {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.coursegrid p:last-of-type {
  margin-bottom: 1rem;
}

/* Thesis Exhibit */

.thesis .wrap {
  display: flex;
 }

.thesis h2 {
  text-align: center;
}

.thesis video {
  width: 100%;
}

.thesis .left h3 {
  margin-top: 1.5rem;
}

.thesis .content {
  margin-bottom: 2rem;
}

/* Footer */

footer .container {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

footer nav {
  width: 300px;
  text-align: right;
}

footer nav li {
  display: inline-block;
}

footer nav li a {
  text-decoration: none;
}
