@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900|Raleway|Unica+One');
/* Responsive Breakpoints
Tablet: 900px
Mobile: 680px
*/
/* Universal Styles */
:root {
  --c-1-d: #9CB1BE;
  --c-2-d: #328CC1;
  --c-3-d: #D9B310;
  --c-4-d: #1D2731;
  --c-5-d: #FFFFFF;
  --c-1-l: #CDD8DE;
  --c-2-l: #69ABD1;
  --c-3-l: #E3C751;
  --c-4-l: #5A6169;
}


html {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: var(--c-4-d);
}

.container {
  max-width: 960px;
  margin: auto;
}

.light {
/*  background-color: var(--color-7); */
  background: -webkit-linear-gradient(right, var(--c-5-d), var(--c-1-d),  var(--c-5-d));
  background: linear-gradient(-90deg, var(--c-5-d), var(--c-1-d),  var(--c-5-d));
}

.dark {
/*  background-color: var(--color-6); */
  background: -webkit-linear-gradient(right, var(--c-5-d), var(--c-2-d), var(--c-5-d));
  background: linear-gradient(-90deg, var(--c-5-d), var(--c-2-d), var(--c-5-d));
}

.dark .container {
  background-color: var(--c-2-d);
}

.light .container {
  background-color: var(--c-5-d);
}


.section .container {
  padding: 2rem 1.5rem;
}

.left {
  width: 60%;
  padding-right: 1.5rem;
}

.right {
  width: 40%;
  padding-left: 1.5rem;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  border-bottom: solid 0.0625rem var(--color-2);
  background-color: var(--c-1-l);
  padding-right: 1rem;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  border-bottom-left-radius: 0.625rem;

}

.box img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.box p {
  margin-bottom: 0.5rem;
}

.box a {
  text-decoration: underline;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  color: var(--c-4-l);
  margin-left:-1rem;
  font-size: 0.9rem;
}

.box:hover {
  background-color: var(--c-2-l);
  margin:-0.2rem 0 1.2rem 0;
  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2);
}

.box:hover h4 {
  border-bottom: solid 0.0625rem var(--c-2-d);
}

.box:hover a {
  margin-left: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.box a:hover {
  color: var(--c-5-d);
  text-decoration: underline double;
}

button:focus {outline:0;}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

h1:first-letter {
  font-size: 3rem;
  font-style: italic;
}

h1 strong {
  font-style: italic;
  font-weight: bold;
  color: var(--c-3-d);
  text-shadow: 0 0.1875rem 0.0625rem rgba(0,0,0,0.2);
}

h1 u {
  font-weight: 900;
  text-decoration: none;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  text-align: center;
  padding: 0.75rem;
  margin: 0 -1.5rem 2rem -1.5rem;
  color: var(--c-4-d);
  border-bottom: 0.0625rem var(--c-4-d);
  border-bottom-style: dotted;
}

h2:first-letter {
  font-size: 2.3rem;
  font-style: italic;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-family: 'Playfair Display', serif;
  line-height: 1.4rem;
}

/* Header */
header {
  position: fixed;
  top: 0px;
  height: 4rem;
  background-color: var(--c-5-d);
  width: 100%;
  box-shadow: 0 0.0625rem 2.5rem rgba(0,0,0, 0.4);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .mobile {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

header .mobile li {
  display: inline-block;
}

header .desktop li {
  display: inline-block;
  margin-left: 1rem;
}

header .desktop li a {
  text-decoration: none;
  color: var(--c-4-d);
  font-size: 1rem;
}

header .desktop li a:hover {
  text-decoration: underline;
  color: var(--c-4-l);
}

header .desktop {
  margin-right: 1.5rem;
}

#logo {
  font-family: 'Unica One',cursive;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5rem;
}

#logo span:last-of-type {
  color: var(--c-3-d);
}
/* Banner */
.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner {
  margin-top: 4rem;
}

.banner .left img {
  width: 100%;
  height: auto;
}

.banner .left {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.banner .right {
  -ms-flex-item-align: center;
      align-self: center;
}

.banner p {
  margin-bottom: 1rem;
}


.banner button {
  background-color: var(--c-3-d);
  width: 90%;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  border: none;
  border-bottom-left-radius: 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0.5rem 0 rgba(0,0,0,0.2);
  font-family: 'Raleway', serif;
}

.banner button:hover {
  cursor: pointer;
  background-color: var(--c-3-l);
}

.banner button:active {
  -webkit-transform: translateY(0.3125rem);
          transform: translateY(0.3125rem);
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.2);

}

/* Information */
.information .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information .left img {
  width: 100%;
}

.information .left h3 {
  margin-top: 2rem;
}

.information .left p {
  margin-bottom: 1.5rem;
}

.information .left .author {
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

.information.mobile {
  display: none;
}

.information.mobile .container > * {
  width: 100%;
  margin-bottom: 2rem;
}

.information.mobile .container p {
  margin-bottom: 1rem;
}

.information.mobile .container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

.information.mobile img {
  width: 100%;
  margin-bottom: 1rem;
}

.information.mobile.container div:last-child {
  margin-left: 1rem;
}

/* Courses */

.coursegrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 3rem 0 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coursegrid div {
  max-width: 29%;
  margin: 1rem;
  background-color: var(--c-5-d);
  border-bottom-left-radius: 0.625rem;
  box-shadow: 0 0.5rem 0 rgba(0,0,0,0.2);
}

.coursegrid img {
  width: 100%;
}

.coursegrid h4 {
  margin: 1rem 0 0.5rem 1rem;
}

.coursegrid p {
  margin: 0 1rem 1rem 1rem;
}

.coursegrid p:last-of-type {
  margin-bottom: 1rem;
}
/* Thesis Exhibit */

.thesis .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 }

.thesis video {
  width: 100%;
}

.thesis .left h3 {
  margin-top: 1.5rem;
}

.thesis .content {
  margin-bottom: 2rem;
}


/* Footer */

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem 2rem 1.5rem;
}

footer nav {
  width: 18.75rem;
  text-align: right;
}

footer nav li {
  display: inline-block;
}

footer nav li a {
  text-decoration: none;
  color: var(--c-4-d);
}

footer nav li a:hover {
  text-decoration: underline;
  color: var(--c-1-l);
}

@media only screen and (max-width: 900px){
  .container .left{
    width: 50%;
  }
  .container .right{
    width: 50%;
  }
  .coursegrid{
    margin: 0;
  }
  .coursegrid div{
    max-width: 40%;
  }
}

@media only screen and (max-width:680px){
  header .desktop{
    display: none;
  }
  header .mobile{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  #logo{
    display: none;
  }
  nav{
    width: 100%;
  }
  h2 {
    margin: 0;
  }
  .banner .container{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .banner div{
    width: 100% !important;
    padding: 0;
  }
  .banner .right{
    padding: 1rem 2rem;
    text-align: center;
  }
  .banner button{
    margin-bottom: 1rem;
  }
  .information.desktop{
    display: none;
  }
  .information.mobile{
    display: inline;
  }
  .coursegrid div{
    max-width: 100%;
    width: 100%;
    margin: 1rem 0rem 0.5rem 0rem;
    padding: 1rem 1rem 1.5rem 1rem;
    -webkit-transition: ease 200ms;
    transition: ease 200ms;
  }
  .coursegrid img{
    display: none;
  }
  .coursegrid p{
    display: none;
  }
  .coursegrid h4{
    font-size: 1.5rem;
  }
  .coursegrid div:active{
    background-color: var(--c-2-l);
    margin: 0.8rem 0 0.7rem 0;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2);
  }
  .coursegrid{
    padding-bottom: 2rem;
  }
  .courses h2{
    border-bottom: none;
    margin-bottom: 1rem;
    padding: 0;
  }

  .thesis .right{
    display: none;
  }
  .thesis .left{
    width: 100%;
    padding: 0;
  }
  .thesis video{
    margin: 0;
    width: 100%;
  }
  .thesis .container{
    padding: 0;
    margin-bottom: 1.5rem;
  }
  .thesis h2{
    margin: 2rem 0 1rem 0;
    border-bottom: none;
  }
  .thesis p{
    display: none;
  }
  .thesis h3{
    display: none;
  }
  footer .container{
    padding-bottom: 1rem;
  }
  footer nav{
    display: none;
  }
}
