@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900|Raleway|Unica+One');

/* Universal Styles */
:root {
  --c-1-d: #9CB1BE;
  --c-2-d: #328CC1;
  --c-3-d: #D9B310;
  --c-4-d: #1D2731;
  --c-5-d: #FFFFFF;

  --c-1-l: #CDD8DE;
  --c-2-l: #69ABD1;
  --c-3-l: #E3C751;
  --c-4-l: #5A6169;
  --c-5-l: #FFFFFF;
}

html {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: var(--c-4-d);
}

.container {
  max-width: 960px;
  margin: auto;
}

.light {
/*  background-color: var(--color-7); */
  background: linear-gradient(-90deg, var(--c-5-d), var(--c-1-d),  var(--c-5-d));
}

.dark {
/*  background-color: var(--color-6); */
  background: linear-gradient(-90deg, var(--c-5-d), var(--c-2-d), var(--c-5-d));
}

.dark .container {
  background-color: var(--c-2-d);
}

.light .container {
  background-color: var(--c-5-l);
}


.section .container {
  padding: 2rem 1.5rem;
}

.left {
  width: 60%;
  padding-right: 1.5rem;
}

.right {
  width: 40%;
  padding-left: 1.5rem;
}

.box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--color-2);
  background-color: var(--c-1-l);
  padding-right: 1rem;
}

.box img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.box p {
  margin-bottom: 0.5rem;
}

.box a {
  text-decoration: none;
}

.box:hover {
  background-color: var(--c-2-l);
}

button:focus {outline:0;}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

h1 strong {
  font-style: italic;
  font-weight: bold;
  color: var(--c-3-d);
  text-shadow: 0px 3px 1px rgba(0,0,0,0.2);
}

h1 u {
  font-weight: 900;
  text-decoration: none;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 700;
  border-top: 2px var(--c-4-d);
  border-bottom: 2px var(--c-4-d);
  color: var(--c-4-d);
  border-bottom-style: dashed;
  border-top-style: solid;
  padding: 0.75rem;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-family: 'Playfair Display', serif;
  line-height: 1.4rem;
}

/* Header */
header {
  position: fixed;
  top: 0px;
  height: 4rem;
  background-color: var(--c-5-l);
  width: 100%;
  box-shadow: 0px 1px 40px rgba(0,0,0, 0.4);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .mobile {
  display: none;
}

header .desktop li {
  display: inline-block;
  margin-left: 1rem;
}

header .desktop li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

header .desktop {
  margin-right: 1.5rem;
}

#logo {
  font-family: 'Unica One',cursive;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

#logo span:last-of-type {
  color: var(--c-3-d);
}

/* Banner */
.banner .container {
  display: flex;
}

.banner {
  margin-top: 4rem;
}

.banner .left img {
  width: 100%;
  height: auto;
}

.banner .left {
  align-self: flex-start;
}

.banner .right {
  align-self: center;
}

.banner p {
  margin-bottom: 1rem;
}


.banner button {
  background-color: var(--c-3-d);
  width: 80%;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 0px rgba(0,0,0,0.2);
  font-family: 'Raleway', serif;
}

.banner button:hover {
  cursor: pointer;
  background-color: var(--c-3-l);
}

.banner button:active {
  transform: translateY(5px);
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

}


/* Information */
.information .container {
  display: flex;
}

.information .left img {
  width: 100%;
}

.information .left h3 {
  margin-top: 2rem;
}

.information .left p {
  margin-bottom: 1.5rem;
}

.information .left .author {
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

/* Courses */

.coursegrid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
}

.coursegrid div {
  max-width: 29%;
  margin: 1rem;
  background-color: var(--c-5-d);
}

.coursegrid img {
  width: 100%;
}

.coursegrid h4 {
  margin-left: 1rem;
  margin-top: 1rem;
}

.coursegrid p {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.coursegrid p:last-of-type {
  margin-bottom: 1rem;
}

/* Thesis Exhibit */

.thesis .wrap {
  display: flex;
 }

.thesis video {
  width: 100%;
}

.thesis .left h3 {
  margin-top: 1.5rem;
}

.thesis .content {
  margin-bottom: 2rem;
}

/* Footer */

footer .container {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

footer nav {
  width: 300px;
  text-align: right;
}

footer nav li {
  display: inline-block;
}

footer nav li a {
  text-decoration: none;
}
